/* BASE CSS */
/*==========*/
/* variables */
:root {
  --lt-black: #000501;
  --lt-white: #FFFFF9;
  --lt-white: #CDCDCD;
  --lt-pink: #F4A4A6;
  --lt-green: #9EC345;
  --lt-blue: #2FB8DA;
  --main-bg-color: grey;
}
/* fonts */

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand/static/Quicksand-Bold.ttf");
  font-weight: bold;
}


/* General Settings */

body {
  font-family: Quicksand !important;
  background-color: var(--lt-white) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

section {
  padding-top: 4em;
}

.section {
  background-color: var(--lt-white) !important;
  color: var(--lt-black);
}

.section-blue {
  background-color: var(--lt-blue) !important;
  color: var(--lt-black);
}

.section-pink {
  background-color: var(--lt-pink) !important;
  color: var(--lt-black);
}


.section-green {
  background-color: var(--lt-green) !important;
  color: var(--lt-white);
}

.section-black {
  background-color: var(--lt-black) !important;
  color: var(--lt-white);
}


/* navigation */

.logo {
  width: 4em;
}

nav {
  height: 5em;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    margin-bottom: 0px;
}

.navbar a {
  color: var(--lt-white) !important;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar a:hover {
  color: var(--lt-green) !important;
  text-transform: uppercase;
  font-weight: bold;
}

.section a {
  color: var(--lt-pink) !important;
  font-weight: bold;
}

a:hover {
  color: var(--lt-green) !important;
}

.btn {
  background-color: var(--lt-white) !important;
  border-color: var(--lt-white) !important;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-collapse {
  margin-left: -50px;
  padding-left: 50px;
  left: 0;
}

/* splash */

.jumbo-spacer {
  height: 10em;
}

.splash-spacer {
  height: 3em;
}


#splash {
  min-height: 25em;
  margin-bottom: 0;
  padding-top: 0 !important;
  margin-top: -1em;
}

.jumbotron a {
  color: var(--lt-pink);
  background-color: var(--lt-black) !important;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  height: 100vh;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  opacity:0.8;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

}
.jumbotron .container {
  z-index: 2;
  position: relative;
  text-align: center;
  color: var(--lt-white);
  padding-top: 35vh;
}

.jumbotron hr {
  border-color: var(--lt-grey);
  border-width: 1px;
  border-radius: 50%;
}

.jumbotron h2, .jumbotron h3{
  font-weight: bold;
  color: var(--lt-white);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.faded-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 150);
  height: 105vh;
  width: 100%;
  clear: both;
  margin-top: -5em;
  padding-top: 10em;
}

.jumbotron button{
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: var(--lt-grey);
  border-color: var(--lt-g);
}

/* intro */


#quote {
  margin-top: -2em !important;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


/* mission */

.spacer {
  height: 2em;
}

.mission-header {
  text-transform: uppercase;
  text-align: center;
}

#mission {
  margin-top: -2em;
}

/*footer*/
.footer {
  min-height: 8em;
  margin-top: -4em;
  background-color: var(--lt-black);
  color: var(--lt-white);
  font-weight: bold;
}
.footer-links li {
  display: inline;
}

.middle-li {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.left-li {
  padding-right: 0.75em;
}

.right-li {
  padding-left: 0.75em;
}

.footer-logo {
  height: 5em;
  padding-left: 2em;
}

.footer-spacer {
  height: 0.5em;
}

.footer a {
  text-decoration: underline;
  color: var(--lt-blue);
  font-weight: bold;
}
.event {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-size: cover;
}

.event-spacer {
  height: 100px;
}

.event-1 {
  color: var(--lt-white);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/event-1-bg.jpg) center center;
  background-size: cover;
  float: center;
  background-size:100%;
  /*background-blend-mode: multiply;*/
  transition: all 0.3s ease-in-out;
  padding: 2em;
}

.event-1:hover {
  background-size: 120%;
}

.event-2 {
  color: var(--lt-white);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/event-2-bg.jpg) center center;
  background-size: cover;
  float: center;
  background-size:100%;
  /*background-blend-mode: multiply;*/
  transition: all 0.3s ease-in-out;
  padding: 2em;
}

.event-2:hover {
  background-size: 120%;
}

.event-3 {
  color: var(--lt-white);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../img/event-3-bg.jpg) center center;
  background-size: cover;
  float: center;
  background-size:100%;
  /*background-blend-mode: multiply;*/
  transition: all 0.3s ease-in-out;
  padding: 2em;
}

.event-3:hover {
  background-size: 120%;
}

.coming-soon-spacer {
  height: 40vh;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: var(--lt-black);
  }
}
